<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<!-- 
        <div class="navbar">
            <ul>
                <li class="logo"></li>
                <li>
                    <b> Dr. Sabarisan Thangaraj </b>
                </li>
                <li></li>
                <li></li>
                <li></li>
                <li><button mat-button>Basic</button></li>
                <li></li>
            </ul>
        </div> -->

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  
                    <a class="nav-link" href="#"> 
                      Dr. Ranjith
                      <br>
                      <span class="text-muted"> Kida Care Clinic </span>
                    </a>
                </li>
                <li class="nav-item">
                  <!-- <a class="nav-link" href="#">Link</a> -->
                  <!-- <mat-calendar></mat-calendar> -->

                </li>
                <li >

                </li>
              </ul>
              <div class="form-inline my-2 my-lg-0">
                <a routerLink="" routerLinkActive="active"><button class="btn-custom" mat-button>Appointments</button></a>
                <a routerLink="walkin" routerLinkActive="active"><button class="btn-custom" mat-button>Walk-in</button></a>
                &nbsp;
                &nbsp;
                <mat-icon aria-hidden="false" class="mat-header-icon" aria-label="Example home icon">settings</mat-icon>

              </div>
            </div>
          </nav>