button{
    color: #5023F9;
}

.walkin-card{
    width: 100% !important;
}

.slots-btn{
    width: 100%;
}


.slots-btn-fill{
    background-color: #5023F9;
    color: #fff !important;
}

.special-date {
    background-color: red;
  }

.circle-icon{
    padding: 1px;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 1px solid #5023f9;
}